 @model MyTaskManagement.Core.ViewModel. PaymentViewModel


@{
    ViewBag.Title = "ShowAllPayments";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2> @Model.User.FirstName Payments  </h2>


<p>
    @Html.ActionLink("Create New", "CreatePayment", "FinancialStatus", new { id = Model.User.Id }, new { @class = "btn btn-success" })
</p>
@using (Html.BeginForm("ShowPaymentsEmployee", "FinancialStatus", FormMethod.Get, new { id = Model.User.Id }))
{

    <select name="month">

        @{
            Dictionary<int, string> Months = Enumerable.Range(1, 12)
                .Select(i => new KeyValuePair<int, string>
                (i, System.Globalization.DateTimeFormatInfo.
                CurrentInfo.GetMonthName(i))).ToDictionary(x => x.Key, x => x.Value);


            if ((int)ViewBag.m == 0)
            {
                <option value="0" selected="selected"> </option>

            }
            else
            {
                <option value="0"> </option>

            }

            foreach (var key in Months.Keys)
            {
                if ((int)ViewBag.m == key)
                {//select it
                    <option value="@key" selected="selected"> @Months[key]</option>

                }
                else
                {
                    <option value="@key"> @Months[key]</option>

                }
            }

        }


    </select>

    <select name="year">
        @{
            var listYears = Enumerable.Range(2016, 81).ToList();

            if ((int)ViewBag.y == 0)
            {
                <option value="0" selected="selected"> </option>

            }
            else
            {
                <option value="0"> </option>

            }


            foreach (var i in listYears)
            {
                if ((int)ViewBag.y == i)
                {//select it
                    <option value="@i" selected="selected"> @i</option>

                }
                else
                {
                    <option value="@i"> @i</option>


                }
            }


        }


    </select>
    <input type="submit" value="Search" class="btn btn-primary" />

}
<table class="table" id="listPayments">
    <thead>
        <tr>
            <th>
                Date
            </th>

            <th>
                AmountOfMoney
            </th>

            <th>
                Note
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Payments.ToList())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountOfMoney)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>

                <td>
                    @Html.ActionLink("Delete", "DeletePaymentsEmployee", new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>

</table>
@section scripts
{

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#listPayments").dataTable();
        });
    </script>
}