@model IEnumerable<MyTaskManagement.Core.Domain.Payment>

@{
    ViewBag.Title = "ShowAllPayments";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ShowAllPayments</h2>

<p>
    @Html.ActionLink("Create New", "CreatePayment" ,"FinancialStatus", "", new { @class = "btn btn-success" })
</p>
<table class="table" id="listPayments">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicaionUser.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicaionUser.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-success" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
      
</table>
@section scripts
{

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#listPayments").dataTable();
        });
    </script>
}