@using System.Web.UI.HtmlControls
@using MyTaskManagement.Models
@model MyTaskManagement.Models.TTask

@{
    ViewBag.Title = "Approve";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 

@if (Model.Status.Equals(StatusEnum.Ended))
{
    <h3>Are you sure you want to Approve this task ?</h3>


    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input hidden="" name="id" value="@Model.Id" />
        @Html.Hidden("id", Model.Id)
        @Html.Hidden("ProjectId", Model.ProjectId)
        @Html.Hidden("ApplicationUserId", Model.ApplicationUser.Id)


        <div class="simple-login-container">
            <h2>Enter Approved hours</h2>
            <div class="row">
                <div class="col-md-12 form-group">
                    <input type="text" name="approveH" class="form-control" placeholder="0"/>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 form-group">
                    <input type="submit" value="Approve"  class="btn btn-block btn-login" placeholder="Enter your Password">
                </div>
            </div>

        </div>
 
    }


}
else
{

    <h3>The Task should be complete status before to aprrove to finanical state </h3>


}


<style>


    .simple-login-container {
        width: 300px;
        max-width: 100%;
        margin: 50px auto;
    }

        .simple-login-container h2 {
            text-align: center;
            font-size: 20px;
        }

        .simple-login-container .btn-login {
            background-color: #FF5964;
            color: #fff;
        }

    a {
        color: #fff;
    }
</style>