@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
         



        <li class="nav-item nav-profile">
            
                
                    <div class="profile-image">
                        <img class="img-xs rounded-circle" src="~/images/faces/face1.jpg" alt="profile image">
                     @*   @Html.ActionLink("   Hello " + User.Identity.GetUserName() + "!   ", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "profile-name" })*@
                    <a class="profile-name" style="color:aliceblue" href="/Manage" title="Manage">   Hello  @User.Identity.GetUserName() !    </a>
                        <a class=" btn btn-danger" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                </div>
                
            
        </li>






    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", null, htmlAttributes: new { id = "registerLink", @class = "btn btn-success" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-danger" })</li>


    </ul>
}
